# Ignore the database
db.sqlite3

# Ignore virtual environment directories
env/
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variable files
.env

# Ignore static files (if collected)
staticfiles/

# Ignore media files
media/

# Ignore apple
*.DS_Store