# Ignore the database
db.sqlite3

# Ignore virtual environment directories
env/
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variable files
.env

# Ignore static files (if collected)
staticfiles/

# Ignore media files
media/

# Ignore apple
*.DS_Store

# notes and shit
scratch.py

# Ignore graphs image directory. This is just for development. Feels like graphs should be stored in a different way for prod
exam_graph/static/graphs

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.~*
*.tmp

# Exported notebook files

*.pdf
*.ipynb