{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plot Radiology Analytics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="side-bar">
        <div class="sidebar-content">
            <h2>Select Filters for Graph Generation</h2>
            <div id="form-container">
                <form method="POST" action="/exam_graph/result/">
                    {% csrf_token %}
                    

                    <label for="start_date">Start Date:</label>
                    <input type="date" id="start_date" name="start_date" value="{% if start_date %}{{start_date}}{% else %}yyyymmdd{% endif %}"><br><br>

                    <label for="end_date">End Date:</label>
                    <input type="date" id="end_date" name="end_date" value="{% if end_date %}{{end_date}}{% else %}yyyymmdd{% endif %}"><br><br>

                    <label for="User_selected_metric">Select Metric:</label>
                    <select id="User_selected_metric" name="User_selected_metric" required>
                        <option value="totals" {% if selected_metric == "totals" %}selected{% endif %}>totals</option>
                        <option value="tat" {% if selected_metric == "tat" %}selected{% endif %}>tat</option>
                        <option value="mean" {% if selected_metric == "mean" %}selected{% endif %}>avg(doesnt work yet)</option>
                        
                    </select>
                    <br><br>
                
                    <label>Select Modality:</label><br>
                    <input type="checkbox" id="modality_ct" name="User_selected_modality" value="CT"
                        {% if "CT" in selected_modality %}checked{% endif %}>
                    <label for="modality_ct">CT</label><br>
                    
                    <input type="checkbox" id="modality_xray" name="User_selected_modality" value="XR"
                        {% if "XR" in selected_modality %}checked{% endif %}>
                    <label for="modality_xray">XR</label><br>
                    
                    <input type="checkbox" id="modality_mri" name="User_selected_modality" value="MR"
                        {% if "MR" in selected_modality %}checked{% endif %}>
                    <label for="modality_mri">MRI</label><br>
        
                    <input type="checkbox" id="modality_us" name="User_selected_modality" value="US"
                    {% if "US" in selected_modality %}checked{% endif %}>
                    <label for="modality_us">US</label><br>
                
                    <br><br>
                
                    <label for="period">Select Period:</label>
                    <select id="period" name="period" required>
                        <option value="hour" {% if selected_period == "hour" %}selected{% endif %}>Hour</option>
                        <option value="day" {% if selected_period == "day" %}selected{% endif %}>Day</option>
                        <option value="week" {% if selected_period == "week" %}selected{% endif %}>Week</option>
                        <option value="month" {% if selected_period == "month" %}selected{% endif %}>Month</option>
                        <option value="year" {% if selected_period == "year" %}selected{% endif %}>Year</option>
                    </select>
                    <br><br>
        
                    <button type="submit">Plot Graph</button>
                </form>
        
            </div>

        </div>
        <footer>
            <a href="https://github.com/neato0079/exam-analytics" target="_blank">GitHub</a> |
            <a href="../help/" target="_top">Help</a> |
            <a href="../" target="_top">Home</a>
        </footer>
    </div>
    <div id="graph-container">
    {% if graph %}
    <img src="data:image/png;base64,{{ graph }}" alt="Generated Graph">
    {% endif %}
    </div>
</body>
</html>
