body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #121212; 
    color: #bfc3ca; 
}

.logo {
    margin-bottom: 20px;
}

.logo a {
    font-size: 48px;
    text-decoration: none;
    color: #90abdd; 
}

.upload-container {
    width: 400px;
    padding: 30px;
    border: 2px dashed #666; /* Darker border for dark theme */
    border-radius: 10px;
    text-align: center;
    background-color: #1e1e1e; /* Dark background for the container */
    transition: border-color 0.3s ease;
}

.upload-container.drag-over {
    border-color: #ffffff; /* Highlight border on drag over */
}

.upload-container p {
    font-size: 18px;
    color: #bbbbbb; 
}

.file-input {
    display: none;
}

.upload-button {
    background-color: #90abdd;
    color: #121212;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.upload-button:hover {
    background-color: #738bb7; /* Slightly darker on hover */
}

/* Footer styles */
footer {
    align-self: flex-end;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

footer a {
    color: #90abdd;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

footer a:hover {
    text-decoration: underline;
}

#graph-container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 90%;
    height: 85%;

}

#graph-container img {
    max-width: 90%; 
    height: 90%;
    overflow: hidden;
    border-radius: 10px;
}

.side-bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #2b2a46;
}

.sidebar-content {
    flex-grow: .95;  
}

.main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: #121212; 
    color: #bfc3ca; 
    margin-bottom: 50px;
}

.content {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 50px;
    
}

.logo {
    display: flex;             
    flex-direction: column;    
    text-align: center;        
    justify-content: center;   
    align-items: center;       
}


.logo h3 a{
    font-size: 18px; /* Adjust to your desired size */
    text-decoration: underline; /* Or none, as needed */

}

h3 a:hover {
    text-decoration: underline; /* Adds underline on hover */
}

.logo h4 a{
    font-size: 18px; /* Adjust to your desired size */
    text-decoration: underline; /* Or none, as needed */

}

h4 a:hover {
    text-decoration: underline; /* Adds underline on hover */
}

#summary{
    padding-right: 30px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;

}

/* General table styling */
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
    background-color: #5d5d71;
}

/* Table headers */
th {
    background-color: #343a40;
    color: white;
    padding: 12px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #dee2e6;
}

/* Table rows */
td {
    padding: 12px 15px;
    border: 1px solid #dee2e6;
}

/* Stripe effect for table rows */
tr:nth-child(even) {
    background-color: #4e4b5e;
}

/* Hover effect for table rows */
tr:hover {
    background-color: #ced4da;
}

/* Responsive design */
@media (max-width: 768px) {
    table {
        font-size: 10px;
    }

    th, td {
        padding: 10px 12px;
    }
}
