{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radiology Analytics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="main">
        <div class="top_nav">
            {% block content %}
            {% if user.is_authenticated %}
                Hi {{ user.username }}!
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Log Out</button>
                </form>
            {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'login' %}">Log In</a>
            {% endif %}
            {% endblock %}
        </div>

            <form class="login" method="POST">
                {% csrf_token %}
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
                
            </form>
            {{ mess }}
            <footer>
                <a href="https://github.com/neato0079/exam-analytics" target="_blank">GitHub</a> |
                <a href="../../help/" target="_top">Help</a> |
                <a href="../../" target="home">Home</a>
            </footer>
            

    </div>
            <script src="../static/scripts/home_script.js"></script>

</body>

</html>